.App-link {
  color: #61dafb;
}

.parent-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
